<div class="wrapper">

    <h3 class="header">Car Repair Shop</h3>


  <div class="sign-in">
    <h6 class="sign-in_header"> <span> Log in to <br> continue</span>     <i class="fal fa-arrow-right"></i>  </h6>
    <div class="input-container">
      <input autocomplete="off" [(ngModel)]="email" placeholder='Email' type="text">
    </div>
    <div class="input-container">
   <span class="icon"> </span>
      <input autocomplete="off" placeholder='Password' [(ngModel)]="password" type="password">
    </div>
    <button (click)="login()"  style="background-color: #008080" class="sign-in_submit" mat-raised-button color="primary">Submit</button>
  </div>
</div>
