
@import "../../../vars.scss";
.wrapper {
  background-color: $deep-blue;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px 22px;
  min-height: calc(100vh - 70px);
}

.header {
  margin: 48px 0;
  margin-bottom: 125px;
  text-align: center;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 150%;;
}


.sign-in {
  width: 100%;
  max-width: 500px;
  color: white;
  @media(min-width: 390px){
    br {
      display: none;
    }
  }
  i {
    margin-left: 14px;
  }
  &_header {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 42px;
  }

  &_submit {
    width: 100%;
  }
}

.input-container {
  margin: 16px 0;

  input {
    padding: 10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 100%;
    padding: 10px;
    outline: #32b5fe;
  }
  button {
    color: #32b5fe;
  }
}
