.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1000000;
  background-color: #6f55f7;
  padding: 8px;
}

.msg {
  background-color: white;
  border-radius: 26px;
  text-align: center;
  padding: 60px 0;
  box-shadow: 1px 1px 1px 1px lightgrey;
  width: 100%;
  max-width: 500px;
  b {
    font-size: 26px;
    margin-bottom: 22px;
    display: block;
  }

  p{
    margin: 0 0 12px;
    font-weight: 300;
    margin-bottom: 22px;
    font-size: 18px;
  }
  .btn{
    color: white;
    background-color: #6f55f7;
    padding: 12px;
    border-radius: 22px;
    width: 200px;
    display: inline-block;
    cursor:pointer;
  }
}
i{
  font-size: 100px;
    margin-bottom: 30px;
}
