@import "../../../vars.scss";;
.sub-nav {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  background-color: white;
}
.actions {
  display: inline-flex;
  align-items: center;
}
.icon {
  margin-right: 16px;
  font-size: 20px;
  cursor: pointer;
}
::ng-deep {
  .mat-btn {
    min-width: 100px;
    background-color: $deep-blue;
    color: white;
  }
}
