<div class="sub-nav">
  <span class="icon">
    <i (click)="navigateBack()" class="far fa-long-arrow-left"></i>
  </span>
  <span *ngIf="subNavInfo.actionText" class="actions">
    <span *ngIf="!subNavInfo.hideFilter" (click)="filter()" class="icon filter">
      <i class="fal fa-filter"></i>
    </span>
    <span  *ngIf="!subNavInfo.hideSearch" class="icon search">
      <i class="fal fa-search"></i>
      <input (blur)="search()" (keyup.enter)="search()"[(ngModel)]="searchTerm" type="text">
    </span>
    <button (click)="navigateToAction()"  mat-button class="mat-btn" >{{subNavInfo.actionText}}</button>
  </span>
</div>
