@import "../../../vars.scss";
.sub-nav {
  display: flex;
  justify-content: space-between;
  padding: 22px 12px;
  align-items: center;
  min-height: 66px;

  background-color: white;
}
.actions {
  display: inline-flex;
  align-items: center;
}
.icon {
  margin-right: 16px;
  font-size: 20px;
  cursor: pointer;
}
::ng-deep {
  .mat-btn {
    min-width: 100px;
    background-color: $deep-blue;
    color: white;
  }
}

input {
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 12px;
  padding-left: 36px;
  width: 100%;
  max-width: 300px;
}

.search {
  position: relative;
  i {
    position: absolute;
    top: 10px;
    left: 10px
  }
}

.sync{
  color: #41798e;
}
