.footer{
  background-color: rgb(28,37,46);
  color: white;
  text-align: center;
  padding: 32px 22px;
  margin-top: 22px;
  font-weight: 400;
  p{
    line-height: 150%;
  }
  i {
    margin-right: 2px;
  }
}
