<app-sub-nav (actionBtnClicked)="exportToCvs()" [subNavInfo]="subNavInfo"></app-sub-nav>
<h3 class="text-header">History for car  #{{carNumber}}</h3>
<div  [hidden]="loading">
  <ag-grid-angular
  #gridOptions
  (cellValueChanged)="onCellValueChanged($event)"
  (gridReady)="onReady($event)"
  style="width: 100%; height: calc(100vh - 170px);"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
  >
  </ag-grid-angular>
</div>

<div *ngIf="loading" class="spinner">
  <mat-spinner></mat-spinner>
</div>


