<app-sub-nav (actionBtnClicked)="viewFullHistory()" [subNavInfo]="subNavInfo">
</app-sub-nav>

<div class="wrap" *ngIf="!loading">

  <div class="service-info">
    <h3 class="text-header">Work Sheet </h3>
    <div class="list-wrap">
      <div class="service-note">
        <div *ngIf="!service.isEditing">
          <i class="fad fa-comment-alt-exclamation"></i> {{service.note || 'No notes'}}
          <i (click)="toggleNote(true)" class="pencil fal fa-pencil-alt"></i>
        </div>
        <div class="note" *ngIf="service.isEditing">
          <textarea class="note-content" matInput [(ngModel)]="service.note">
            {{service.note}}
          </textarea>

          <span class="actions">
            <i (click)="toggleNote(false)" class="fal fa-check save"></i>
            <i (click)="toggleNote(false)" class="fal fa-times remove"></i>
          </span>
        </div>
      </div>
      <app-repair-box (remove)="removeRepair(r, i)" [repair]="r" *ngFor="let r of service.repairs; index as i">
      </app-repair-box>

      <app-repair-box (remove)="removeAdddedRepair(r, i)" [repair]="r" *ngFor="let r of addedRepairs; index as i">
      </app-repair-box>
      <div class="add-items">
        <span (click)="addRepair()">
          <span>Add items</span>
          <i class="fal fa-plus"></i>
        </span>

      </div>
    </div>

    <div class="actions">

      <div [class.disclaimer--ok]="confirm" class="disclaimer">
        <mat-checkbox [(ngModel)]="confirm" class="example-margin"> The Car number <span class="big">
            {{service.carNumber}}</span> matches vin
          number <span class="big"> {{service.car.vin}}</span> </mat-checkbox>
      </div>

      <button class="button button--cancel" mat-button [routerLink]="['/services']">Cancel</button>
      <button class="button button--warn" mat-button (click)="markAsWaiting()">Mark as Waiting</button>
      <button class="button" [disabled]="!confirm" (click)="markCompete()" mat-raised-button color="primary">Mark
        Done</button>
    </div>
  </div>
  <div class="car-info">
    <app-item-card [user]="user" *ngIf="car" [item]="car">
    </app-item-card>
  </div>
</div>


<div *ngIf="loading" class="spinner">
  <mat-spinner></mat-spinner>
  <p>Preparing Work sheet</p>
</div>
