h3 {
  margin: 60px auto;
  text-align: center;
  font-size: 22px;
}

.wrapper {
  padding: 8px;
  max-width: 650px;
  margin: auto;
}

.repair-item {
  display: flex;
  flex-wrap: wrap;
  margin: 6px 0;
  justify-content: space-between;
  i {
    color: red;
    cursor: pointer;
  }
}
.text-qty {
  select {
    margin-right: 3px;
    padding: 3px;
    border: none;
    border-bottom: 1px solid;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }
}

.actions {
  margin: 22px 0;
  text-align: center;
  .button {
    width: 200px;
    &--cancel{
      border: 1px solid;
      margin-left: 22px;
      &:hover{
        background-color: black;
        color: white;
      }
    }
  }
}

.repairs-needed {
  margin: 52px 0;
}

.note-icon {
  i {
    color: rgb(1, 86, 115);
    cursor: pointer;
    margin-right: 8px;
  }
}

.main-text {
}

.note {
  width: 100%;
  color: gray;
  margin-top: 12px;
  padding-left: 12px;
  font-size: 13px;
  font-weight: 300;
  textarea {
    padding: 6px;
    border: 1px solid lightgray;
    color: gray;
  }
}

::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
    padding-left: 0;
  }
}
.header-text {
  font-size: 42px;
  margin: 52px auto;
  margin-bottom: 60px;
  text-align: center;
}
.open {
  ::ng-deep {
    .mat-vertical-stepper-content {
      visibility: visible !important;
      height: 100% !important;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      padding-left: 0 !important;
    }
  }
}
::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-left: 0 !important;
  }


}
