h3 {
  margin: 60px auto;
  text-align: center;
  font-size: 22px;
}

form {
  margin: auto;
  margin-top: 54px;
  max-width: 500px;
  background-color: white;
  padding: 22px 12px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px lightgray;
}
