:host {
  margin: 12px 0;
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: 22px;

  padding: 22px;
  cursor: pointer;
  height: 300px;
}
.card {
  padding: 22px;
  color: #015673;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;

  .icon{
    i {
      font-size: 80px;
      margin-bottom: 25px;
    }
  }
}

.text {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: flex-start;

  span {
    display: inline-block;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1px;
  }
}
