<app-sub-nav (syncClicked)="sync()" (dialogOpened)="openFilter()" (searched)="search($event)" [subNavInfo]="subNavInfo"></app-sub-nav>
<div class="nav-filter">
  <span class="link" (click)="setActive(link, i)" [class.link--active]="link.active"
    *ngFor="let link of links; index as i"> {{link.name || 'ALL'}}</span>
</div>


<div *ngIf="currentFilters?.length" class="current-filters">
  <mat-chip-list #chipList>
    <b>Current filters: </b>
    <mat-chip *ngFor="let filter of currentFilters" [removable]="true" (removed)="removeFilter(filter)">
      {{filter}}
      <span matChipRemove>
        <i class="fal fa-trash-alt"></i>
      </span>
    </mat-chip>
  </mat-chip-list>
</div>
<div
    infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"

class="list">
  <h3 class="text-header">Car Services</h3>
  <mat-card style="padding: 16px;" class="card" *ngFor="let service of services; index as i;">

    <span class="header"> Car# {{service.car?.car_id}} </span>
    <span class="fields">
      <span class="field" *ngFor="let field of getFields(service)">
        <b>{{field.name}}: </b> <span class="value">{{field.value}}</span>
      </span>

    </span>
    <span class="user-expand">
      <span [matTooltip]="'Total price'" class="price">
        {{ (service.totalPrice )| currency: 0 }}
      </span>
      <span [matTooltip]="service.mechanic?.name || 'Not Assigned'" class="user">
        {{(service.mechanic?.name || 'N/A').slice(0, 3) | uppercase }}
      </span>
      <span [matMenuTriggerFor]="menu" class="action-icon">
        <i class="fal fa-cog"></i>
      </span>
      <span (click)="toggleExpand(service)" class="action-icon">
        <i [class.expand-icon]="service.expanded" class="fal fa-chevron-down "></i>
      </span>
    </span>
    <mat-menu class="menu" #menu="matMenu">
      <button (click)="toggleApprove(service)" mat-menu-item>
        <i *ngIf="service.status === 'APPROVED'" class="fal fa-thumbs-down"></i>
        <i *ngIf="service.status !== 'APPROVED'" class="fal fa-thumbs-up"></i>
        <span>{{service.status === 'APPROVED' ? 'Disapprove' : 'Approve'}}</span>
      </button>
      <button (click)="editService(service, i)" mat-menu-item>
        <i class="fal fa-edit"></i>
        <span>Edit</span>
      </button>
      <button (click)="goToHistory(service)" mat-menu-item>
        <i class="fal fa-history"></i>
        <span>View Full History</span>
      </button>
      <button (click)="deleteService(service, i)" mat-menu-item>
        <i class="fal fa-trash-alt"></i>
        <span>Delete</span>
      </button>
    </mat-menu>
    <div *ngIf="service.expanded" class="expanded">
      <li [class.service-note--last]="isLast" *ngFor="let repair of service.repairs; last as isLast;">
        <span> fixed: {{repair.qty}} {{repair.repair?.name}}</span> <span class="repair-note" *ngIf="repair.note">
          *{{repair.note}}</span>
      </li>
      <div class="service-note" *ngIf="service.note">
        *{{service.note}}
      </div>
    </div>
  </mat-card>

</div>
<app-no-items-found [text]="noItemText" *ngIf="services.length ===0"></app-no-items-found>
