@import "../../../vars.scss";
:host {
  min-height: calc(100vh - 160px);
  display: block;

  ::ng-deep {
    .mat-select-trigger {
      font-size: 12px;
    }
    .mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: $success-green !important;
    }
  }
}

.list {
  width: 100%;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  padding-top: 4px;
  justify-items: center;
  max-width: 1600px;
  margin: auto;
  margin-top: 36px;
  padding: 8px;
  position: relative;
}
.card {
  width: 100%;
  padding: 32px;
  margin: 12px 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  b {
    display: inline-block;
    margin-right: 6px;
  }
}

.header {
  font-size: 20px;
  color: #015673;
  display: inline-block;
  margin-right: 42px;
  font-weight: bold;
}
.fields {
  flex: 1;
}
.field {
  margin: 8px;
  padding: 6px 12px;
  border-radius: 12px;
  display: inline-flex;
  font-size: 16px;
  background-color: #ececec;
}

.value {
  margin-left: 8px;
  font-weight: 300;
}

.user {
  width: 30px;
  font-size: 11px;
  height: 30px;
  background-color: #015673;
  color: white;
  display: inline-block;
  text-align: center;
  line-height: 130%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
  cursor: pointer;
}

.user-expand {
  display: flex;
  align-items: center;
}

.action-icon {
  display: inline-block;
  margin: 0 6px;
  font-size: 18px;
  color: gray;
  cursor: pointer;
}

button {
  i {
    display: inline-block;
    margin-right: 10px;
  }
}

.expanded {
  width: 100%;

  li {
    padding: 12px 0;
    list-style: none;
    border-bottom: 1px solid lightgray;
  }
  .repair-note {
    margin-left: 12px;
    color: gray;
    font-size: 14px;
  }
  .service-note {
    color: gray;
    padding: 12px;
    &--last {
      border: none;
    }
  }
}

.expand-icon {
  transform: rotate(90deg);
}

.text-header {
  font-size: 42px;
  margin: 32px auto;
}
.nav-filter {
  padding: 22px;
  max-width: 1600px;
  margin: auto;
  margin-top: 36px;
  .link {
    margin: 0 22px;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    @media (max-width: 1200px) {
      font-size: 16px;
    }
    &--active {
      font-weight: bold;
      border-bottom: 1px solid;
    }
  }
}

.current-filters {
  max-width: 1600px;
  margin: auto;
  margin-top: 12px;
  width: 100%;
  padding: 22px;

  b {
    margin-right: 6px;
  }
  i {
    color: red;
  }

  .chip-value {
    font-weight: 300;
  }
}
.price {
  margin-right: 8px;
  background-color: #4b8400;
  padding: 6px 8px;
  border-radius: 8px;
  color: white;
  min-width: 80px;
  text-align: center;
}

.rep-price {
  margin-left: 12px;
  color: #4b8400;
}

.toggle-expand-all {
  font-size: 18px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sort-by {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 12px;
    cursor: pointer;
  }
}

.visit {
  padding: 6px 8px;
  width: 82px;
  text-align: center;
  margin-right: 12px;
  min-width: 100px;
  border-radius: 8px;
}

.list-wrap {
  width: 100%;
}

.waiting-note {
  width: 100%;
  padding: 12px;
  background-color: #e1ecea99;
}

.sub-filter {
  border-radius: 12px;
  cursor: pointer;
  padding: 4px 6px;
  margin: 0 6px;
  text-align: center;
  text-transform: uppercase;
  color: #015673;
  background-color: white;
  border: 1px solid #015673;
  font-size: 13px;
  &--active {
    background-color: #015673;
    color: white;
  }
  &:hover {
    background-color: #015673;
    color: white;
  }
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
