.list {
  width: 100%;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  box-sizing: border-box;
  padding-top: 4px;
  justify-items: center;
  max-width: 1400px;
  margin: auto;
  margin-top: 36px;
}
.card {
  width: 300px;
  margin: 12px;
  b {
    display: inline-block;
    margin-right: 6px;
  }
}
.top {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  h3 {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 15px;
    align-items: center;
    .price{
      color: #4b8400;
    }
  }
}
.menu {
  i {
    font-size: 20px;
    cursor: pointer;
  }
}
.middle {
  margin-bottom: 16px;
}

.bottom {
  text-align: right;
}

.badge {
  text-align: right;
  border: 1px solid;
  display: inline-block;
  padding: 6px;
  border-radius: 16px;
  font-size: 13px;
  color: #65d865;
  .pre {
    margin-right: 6px;
  }
}


.text-header {
  font-size: 42px;
  margin: 52px auto;
  text-align: center;
}
