$mobile-break: 1020px;
@import "../.../../../../vars.scss";

.wrapper {
  position: fixed;
  background-color: $deep-blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 22px 12px;
  z-index: 101;
  font-size: 22px;
  .logo {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    padding: 4px;
    &_bars {
      display: none;
      @media (max-width: $mobile-break) {
        display: inline-block;
      }
    }
    &_text {
      margin-left: 12px;
      @media (max-width: 450px) {
        display: none;
      }
    }
  }
}
a {
  color: inherit;
}

.logout {
  cursor: pointer;
  padding: 0 12px;
  i {
    margin-left: 4px;
  }
}

.user {
  display: flex;
  align-items: center;
  .fa-user {
    margin-right: 12px;
  }
  span {
    line-height: 150%;
  }
}

.links {
  @media (max-width: $mobile-break) {
    display: none;
  }
}

.link {
  padding: 0 12px;
  cursor: pointer;
  outline: none !important;
  color: lightgrey;
  font-weight: 600;
  &--active {
    color: white;
  }
}

.user-ball {
  padding: 6px;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.slideout {
  left: -100%;
  position: fixed;
  top: 0;
  transition: left 400ms linear;
  height: 100vh;
  background-color: $deep-blue;
  z-index: 1000;
  width: 100%;
  &--active{
    left: 0;
    transition: left 400ms linear;
  }
}

.mobile-header {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.mobile-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mobile-link {
  font-size: 20px;
  padding: 22px;
  color: lightgrey;
  outline: none;
  font-weight: 600;
  &--active {
    color: white;
  }
}
