@import "../../../vars.scss";
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.mat-form-field {
  width: 100%;
  max-width: 300px;
}
.header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
}
.btn-wrap {
  width: 100%;
  margin: auto;
  margin-top: 22px;
  text-align: center;
}
