@import "../../../vars.scss";

.card {
  width: 300px;
  margin: 12px;
  cursor: pointer;
  &--highlighted{
    background-color: #e2f5fb;
  }
}

.middle-key {
  display: inline-block;
  margin-right: 6px;
}
.middle-val {
  font-weight: 300;
  color: gray;
}
.top {
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 22px;
  margin-bottom: 0;
  font-size: 18px;
}

.price {
  color: #4b8400;
}
.menu-icon {
  font-size: 20px;
}

.middle {
  margin-bottom: 16px;
}

.bottom {
  text-align: right;
}

.badge {
  text-align: center;
  border: 1px solid;
  display: inline-block;
  padding: 3px;
  border-radius: 16px;
  font-size: 13px;
  color: #65d865;
  min-width: 100px;

  &--warn {
    color: $warning-red;
  }
}

.icon {
  margin-right: 6px;
  cursor: pointer;
}




