<div #host class="host">
  <mat-card  [class.card--highlighted]="highlight" [matMenuTriggerFor]="menu" class="card">
    <div  class="top">
      <h4 class="top-header"> <span>   {{item.header}}   </span>
        <span *ngIf="item.price" class="price">   {{item.price | currency: '$'}} </span>
      </h4>
       <i class="fal fa-ellipsis-v menu-icon"></i>
    </div>
    <div class="middle">
      <p *ngFor="let middle of item.middles"><b class="middle-key">{{middle.key}}</b> <span class="middle-val"> {{middle.value}}</span> </p>
    </div>

    <div  class="bottom">

      <span [class.badge--warn]="item.warn" class="badge">{{item.bottom}}</span>
     </div>



    <mat-menu [yPosition]="'above'" [xPosition]="'before'" #menu="matMenu">
      <button [disabled]="user && user.role !== 'Admin'" (click)="navigateToEdit()" mat-menu-item>
        <i class="fal fa-edit icon"></i>
        <span>Edit</span>
      </button>
      <button [disabled]="user && user.role !== 'Admin'" (click)="deleteItem()" mat-menu-item>
        <i class="fal fa-trash-alt icon"></i>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-card>

</div>
